<p-dialog
  [header]="mode === 'edit' ? 'Editar Ruta' : 'Crear Ruta'"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '40rem' }"
  (onHide)="close()"
>

  <form [formGroup]="form" class="grid grid-cols-6 gap-4">

    <!-- ORIGEN -->
    <div class="col-span-3 flex flex-col gap-1">
      <label>Origen</label>
      <input pInputText formControlName="origin" class="w-full" />
    </div>

    <!-- DESTINO -->
    <div class="col-span-3 flex flex-col gap-1">
      <label>Destino</label>
      <input pInputText formControlName="destination" class="w-full" />
    </div>

    <!-- DISTANCIA -->
    <div class="col-span-3 flex flex-col gap-1">
      <label>Distancia (km)</label>
      <p-inputNumber
        formControlName="distance_km"
        class="w-full"
        mode="decimal"
        [useGrouping]="false"
        [minFractionDigits]="0"
        [maxFractionDigits]="3"
        locale="en-US"
      ></p-inputNumber>
    </div>

    <!-- PRIORIDAD -->
    <div class="col-span-3 flex flex-col gap-1">
      <label>Prioridad</label>
      <p-select
        [options]="priorityOptions()"
        formControlName="priority"
        class="w-full"
        placeholder="Seleccione prioridad"
      ></p-select>
    </div>

    <!-- INICIO -->
    <div class="col-span-3 flex flex-col gap-1">
      <label>Inicio ventana</label>
        <p-datepicker
          formControlName="time_window_start"
          [showTime]="true"
          hourFormat="12"
          class="w-full"
          appendTo="body"
        ></p-datepicker>
    </div>

    <!-- FIN -->
    <div class="col-span-3 flex flex-col gap-1">
      <label>Fin ventana</label>
      <p-datepicker
        formControlName="time_window_end"
        [showTime]="true"
        hourFormat="12"
        class="w-full"
        appendTo="body"
      ></p-datepicker>
    </div>

        <!-- STATUS -->
    <div class="col-span-2 flex flex-col gap-1">
      <label>Status</label>
      <p-select
        [options]="statusOptions()"
        formControlName="status"
        class="w-full"
          appendTo="body"
        placeholder="Seleccione estado"
      ></p-select>
    </div>

    <!-- VALIDACIONES -->
    <div class="col-span-6">
      @if (form.errors?.['invalidWindow']) {
        <small class="text-red-500">
          La fecha inicio debe ser menor que la fecha fin
        </small>
      }

      @if (errorMessage()) {
        <div class="text-red-500 text-sm">
          {{ errorMessage() }}
        </div>
      }
    </div>

    <!-- BOTONES -->
    <div class="col-span-6 flex justify-end gap-2 pt-4">

      <p-button
        label="Cancelar"
        severity="secondary"
        (click)="close()"
      ></p-button>

      <p-button
        [label]="mode === 'edit' ? 'Actualizar' : 'Guardar'"
        (click)="submit()" 
        [loading]="submitting()"
        [disabled]="form.invalid"
      ></p-button>

    </div>

  </form>

</p-dialog>