<div class="p-6 space-y-6 flex flex-col justify-start">

  <!-- HEADER -->
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold">
      Rutas 📦
    </h1>

    <div class="flex gap-2">
    @if (hasSelectedRoutes()) {
      <p-button
        label="Ejecutar seleccionadas"
        icon="pi pi-play"
        severity="success"
        (click)="executeSelectedRoutes()"
      ></p-button>
    }

      <p-button
        label="Crear Ruta"
        icon="pi pi-plus"
        (click)="openCreate()"
      ></p-button>
    </div>
  </div>

  <!-- MODAL -->
  <app-route-form
    [visible]="showModal()"
    (visibleChange)="showModal.set($event)"
    (saved)="onSaved()"
    [routeToEdit]="selectedRoute()"
    [mode]="selectedRoute() ? 'edit' : 'create'"
  ></app-route-form>

  <!-- LOADING -->
  @if (loading()) {
    <p class="text-sm opacity-70">Cargando rutas...</p>
  }

  <!-- TABLE -->
  @if (!loading()) {

    <div class="flex justify-center">

      <div class="w-full max-w-8xl bg-white shadow-lg rounded-xl border overflow-x-auto p-4">

        <table class="table table-zebra w-full">

          <thead>
            <tr>
              <th></th>
              <th>ID</th>
              <th>Ruta</th>
              <th>Distancia</th>
              <th>Inicio</th>
              <th>Fin</th>
              <th>Estado</th>
              <th>Prioridad</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>

            @for (route of routes(); track route.id) {
              <tr>

                <!-- CHECKBOX -->
                <th>
                  <input
                    type="checkbox"
                    class="checkbox"
                    (change)="toggleSelection(route.id, $event)"
                  />
                </th>

                <td>{{ route.id }}</td>

                <td>
                  <div class="flex flex-col">
                    <div class="font-bold">
                      {{ route.origin }} → {{ route.destination }}
                    </div>
                    <div class="text-xs opacity-60">
                      Ruta logística
                    </div>
                  </div>
                </td>

                <td>{{ route.distance_km }} km</td>

                <td>{{ formatDate(route.time_window_start) }}</td>

                <td>{{ formatDate(route.time_window_end) }}</td>

                <td>
                  <span
                    class="badge badge-soft badge-outline"
                    [ngClass]="getStatusBadgeClass(route.status_detail?.description)"
                  >
                    {{ route.status_detail?.description ?? 'UNKNOWN' }}
                  </span>
                </td>

                <td>{{ route.priority }}</td>

                <td>
                  <button
                    class="btn btn-ghost btn-xs"
                    (click)="editRoute(route)"
                  >
                    ✏️ Editar
                  </button>
                </td>

              </tr>
            }

          </tbody>

        </table>

      </div>
    </div>

  }

</div>