<div class="navbar bg-neutral text-neutral-content shadow-sm w-full">

  <input id="navbar-1-toggle" class="peer hidden" type="checkbox" />
  <label for="navbar-1-toggle" class="fixed inset-0 hidden max-lg:peer-checked:block"></label>

  <div class="collapse-title navbar">

    <!-- START -->
    <div class="navbar-start">
      <label for="navbar-1-toggle" class="btn btn-ghost lg:hidden text-neutral-content">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </label>

      <button class="btn btn-ghost text-xl text-neutral-content">
        🚚 Routex
      </button>
    </div>

    <!-- CENTER (desktop) -->
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">

        <li>
          <a routerLink="/routes" routerLinkActive="active">Rutas</a>
        </li>

        <li>
          <a routerLink="/routes/import" routerLinkActive="active">Importar</a>
        </li>

        <li>
          <a routerLink="/" routerLinkActive="active">Dashboard</a>
        </li>

        <li>
          <details>
            <summary>Parent</summary>
            <ul class="p-2 bg-base-200 rounded-box w-40 z-10 text-base-content">
              <li><button>Submenu 1</button></li>
              <li><button>Submenu 2</button></li>
            </ul>
          </details>
        </li>

        <li><button>Item 3</button></li>
      </ul>
    </div>

    <!-- END -->
    <div class="navbar-end">
      <input type="text"
        placeholder="Search"
        class="input input-bordered w-64 lg:w-auto bg-base-200 text-base-content" />
    </div>

  </div>

  <!-- MOBILE MENU -->
  <div class="collapse-content lg:hidden z-10 bg-neutral text-neutral-content">

    <ul class="menu p-3">
      <li><button>Item 1</button></li>

      <li>
        <button>Parent</button>
        <ul>
          <li><button>Submenu 1</button></li>
          <li><button>Submenu 2</button></li>
        </ul>
      </li>

      <li><button>Item 3</button></li>
    </ul>

  </div>
</div>