<div class="p-6 space-y-6 flex flex-col justify-start">

<!-- HEADER -->
<div class="flex justify-between items-start gap-4">

  <!-- IZQUIERDA: INFO RUTA -->
  <div class="flex flex-col">
    
    <h1 class="text-2xl font-bold flex items-center gap-2">
      📦 Logs de Ruta
    </h1>

    <div class="text-sm opacity-70 mt-1">
      Seguimiento de ejecución para la ruta:
    </div>

    <div class="mt-2 flex items-center gap-2 text-base font-semibold">
      <span class="badge badge-outline badge-primary">
        ID {{ data()?.route_id }}
      </span>

      <span>
        {{ data()?.route }}
      </span>
    </div>

  </div>

  <!-- DERECHA: BOTÓN VOLVER -->
  <div class="flex items-start">
    <button
      class="btn btn-ghost btn-sm"
      (click)="goBack()"
    >
      ← Volver
    </button>
  </div>

</div>

  <!-- LOADING -->
  @if (loading()) {
    <p class="text-sm opacity-60">Cargando logs...</p>
  }

  <!-- EMPTY -->
  @if (!loading() && data()?.total_logs === 0) {
    <p class="text-sm opacity-60">
      Esta ruta aún no tiene logs 🔍
    </p>
  }

  <!-- TABLE -->
  @if (!loading() && data()) {

    <div class="flex justify-center">

      <div class="w-full max-w-8xl bg-white shadow-lg rounded-xl border overflow-x-auto p-4">

        <!-- INFO -->
        <div class="mb-3 text-sm opacity-70">
          Total logs: {{ data()?.total_logs }}
        </div>

        <table class="table table-zebra w-full">

          <thead>
            <tr>
              <th>ID</th>
              <th>Fecha</th>
              <th>Resultado</th>
              <th>Mensaje</th>
            </tr>
          </thead>

          <tbody>

            @if (data()?.logs?.length === 0) {
              <tr>
                <td colspan="4" class="text-center py-6 text-gray-500">
                  No hay logs para esta ruta todavía
                </td>
              </tr>
            }

            @for (log of data()?.logs; track log.id) {
              <tr>

                <td class="font-medium">
                  {{ log.id }}
                </td>

                <td>
                    {{ formatDate(log.execution_time) }}
                </td>

                <td>
                  <span
                    class="badge badge-soft badge-outline"
                    [ngClass]="log.result === 'SUCCESS'
                      ? 'badge-success'
                      : 'badge-error'">
                    {{ log.result }}
                  </span>
                </td>

                <td>
                  {{ log.message }}
                </td>

              </tr>
            }

          </tbody>

        </table>

      </div>
    </div>

  }

</div>